$--color-black: #000 !default;
$--color-white: #fff !default;
$--color-dark-blue: #1e3264 !default;
$--color-muted: #f6f9fc;
$--color-green: #1eb956 !default;
$--color-green-light: #1ed760 !default;
$--background-default: linear-gradient(90deg, #2c5e92 0%, #552f6d 80%);

$breakpoint-tablet: 768px;
$breakpoint-mobile: 767px;
