@import '../../styles/';

.wrapper {
  @include filters-wrapper-default();
}

.select {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: rem(14px);
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  position: relative;
  display: inline-block;
  outline: 0;
  padding: rem(5px);
  border-radius: rem(4px);
  background: $--color-green;
  border: rem(1px) solid transparent;
  margin-top: 10px;
}

.disabled {
  opacity: 0.5;
}

.label {
  color: $--color-green;
}
