@import '../../styles';

.wrapper {
  @include flex-column();
  margin: rem(20px) 0;
  padding: rem(20px);
  background: $--color-dark-blue;
  border-radius: rem(4px);
  max-width: rem(250px);
  min-width: rem(250px);
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    position: relative;
    top: -5px;
  }
}

.description {
  margin-bottom: rem(20px);
  text-align: center;
}

.image {
  max-width: rem(250px);
  border-radius: rem(4px);
}
