@import '../../styles';

.wrapper {
  @include flex-column();
  margin: 20px 0;
  padding: 20px;
  background: $--color-dark-blue;
  border-radius: 4px;
}

.description {
  margin-bottom: 20px;
}

.image {
  max-width: 300px;
  border-radius: 4px;
}
