@import '../../styles';

.wrapper {
  padding: rem(20px);
  display: flex;
  align-items: inherit;
  justify-content: space-evenly;
  max-width: 960px;
  margin: 0 auto;

  @media (max-width: 767px) {
    @include flex-column();
    padding: rem(10px) 0;
  }
}

.select {
  @media (min-width: 768px) {
    max-width: 180px;
  }
}
