@import '../../styles';

.wrapper {
  @include flex-default();
  padding: rem(20px);

  @media (max-width: 767px) {
    @include flex-column();
    padding: rem(10px) 0;
  }
}

.select {
  margin: rem(10px);
  min-width: rem(200px);

  @media (max-width: 767px) {
    width: 90%;
  }
}
